<h2 mat-dialog-title>Create New Course </h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Course Code" formControlName="csid">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Course Title" formControlName="csname">
  </mat-form-field>
  <mat-form-field>
  <mat-select placeholder="Status" formControlName="status">
      <mat-option [value]="0">
        Inactive
      </mat-option>
      <mat-option [value]="1">
        Active
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close>Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
