<h2 mat-dialog-title>Update {{data.userid}} </h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="User ID" formControlName="userid" value="{{data.userid}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="First Name" formControlName="fname" value="{{data.fname}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lname" value="{{data.lname}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Middle Name" formControlName="mname" value="{{data.mname}}">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="E-Mail" formControlName="email" value="{{data.email}}">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Programme" formControlName="progid">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Access" formControlName="access">
      <mat-option [value]="student">Student</mat-option>
      <mat-option [value]="staff">Staff</mat-option>
      <mat-option [value]="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Is Login" formControlName="is_login">
        <mat-option [value]="1">True</mat-option>
        <mat-option [value]="0">False</mat-option>
      </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"  mat-dialog-close>Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Update</button>
</mat-dialog-actions>
